---
---

<!-- Card -->
<div
  class="md:w-52 md:h-52 w-44 h-44 mx-auto grid grid-cols-1 grid-rows-6 bg-slate-200 shadow-2xl shadow-slate-700/90"
>
  <!-- Image -->
  <div class="row-span-4 overflow-hidden">
    <slot name="image" />
  </div>
  <!-- Text -->
  <div
    class="text-slate-800 font-semibold uppercase p-2 text-ellipsis text-center text-[0.7rem] row-span-2 items-center justify-center flex flex-col"
  >
    <div class="">
      <slot name="h1" />
    </div>
    <div class="text-slate-600 md:text-[0.7rem] text-[0.5rem]">
      <slot name="p" />
    </div>
  </div>
</div>
