---
import Layout from "../components/layouts/Layout.astro";
import Panel from "../components/layouts/Panel.astro";
---

<Layout>
  <Panel>
    <div class="w-full h-screen items-center justify-center flex flex-col">
      <h1 class="font-bold font-sans text-center text-3xl mb-5 md:my-10">
        Contact
      </h1>
      <p
        class="border-4 border-slate-200 p-10 py-40 rounded-2xl text-center mx-auto max-w-xl break-words font-semibold italic"
      >
        Thank you! Your time is much appreciated! I can be contacted by email,
        feel free to send me a message at:
        <a class="text-blue-400" href="mailto:lasc1026@gmail.com"
          >lasc1026@gmail.com</a
        >
      </p>
    </div>
  </Panel>
</Layout>
