---
import Layout from "../components/layouts/Layout.astro";
import Panel from "../components/layouts/Panel.astro";
---

<Layout>
  <Panel>
    <div class="w-full h-full mt-20">
      <h1 class="font-bold font-sans text-center text-3xl mb-5 md:my-10">
        Hobbies and Interests
      </h1>
      <div
        class="m-auto max-w-2xl font-sans font-semibold text-lg text-justify space-y-4 md:p-4"
      >
        <h1>
          It’s great that you made it here! The following details encapsulates
          what are my interests and my way of living the everyday life.
        </h1>
        <p>
          Writing: In my free time, I read, review, and write a fantasy novel.
          In the journey of becoming a “writer”, I like to read about the best
          practices. But in the end, since this is a very dear and personal
          hobby, I just let inspiration take over and enjoy every bit of it.
        </p>
        <p>
          Music: I have written poems, and songs and even recorded both in
          professional recording studios and my home recording studios. Art in
          the form of writing and transformed into music, interests me like no
          other art. Nowadays is more of an interest than a hobby.
        </p>

        <p>
          Reading: Apart from my novel, I tend to read articles, and blogs and
          alike about technology and health science.
        </p>

        <p>
          Programming: With the help of my mentor, an extraordinary engineer,
          I’ve learned skills and ways of thinking specific to programming. In
          his aprenticeship program, he gave me real-world problems to solve.
          It’s been a challenge, him being a hardware and backend programmer and
          me being a frontend-focused developer. But I’m all for it. Anyways,
          you can also contact me for more information <a
            class="text-blue-400"
            href="/contact/">here</a
          > !
        </p>
      </div>
    </div>
  </Panel>
</Layout>
