---
import Layout from "../components/layouts/Layout.astro";
import Panel from "../components/layouts/Panel.astro";
---

<Layout>
  <Panel>
    <div class="w-full h-full mt-20">
      <h1 class="font-bold font-sans text-center text-3xl mb-5 md:my-10">
        Work
      </h1>
      <div
        class="m-auto max-w-2xl font-sans font-semibold text-lg text-justify space-y-4 md:p-4"
      >
        <!-- Work -->
        <div class="flex flex-col justify-center items-center">
          <p>
            <span class="font-extrabold text-purple-400">2022 - Current:</span>
            Formally learned and developed from and for Zomio Inc. Since then, I've
            worked on creating, designing, and redesigning their website per request,
            furthermore created and iterated web apps with specific needs within
            the company. Note that all but the public website is private and confidential.
            References are available upon request.
          </p><br />

          <p>
            <span class="font-extrabold text-purple-400"
              >Websites:
            </span>Redesigned the company’s website, plus two (2) more
            iterations as requested. The technologies used are HTML and
            TailwindCSS. You can see the latest website at
            <a
              class="font-extrabold text-purple-400"
              href="https://zomiotech.com/">zomiotech.com</a
            >.
          </p>

          <p>
            <span class="font-extrabold text-purple-400"
              >Basic Expected Results: Prettify their website and reflect the
              current company's vision.
            </span>
          </p><br />

          <p>
            <span class="font-extrabold text-purple-400">MQTT Web App:</span>
            Built a fully functioning MQTT-powered web app able to receive MQTT input
            from MQTT-enabled software and hardware devices, plus one (1) more iteration
            as requested. The technologies used are HTML, TailwindCSS, JavaScript,
            SolidJS, and PahoMQTT for the 1st iteration. Removed SolidJS for the
            2nd iteration. (Further details are confidential.)
          </p>

          <p>
            <span class="font-extrabold text-purple-400"
              >Basic Expected Results: Effective DOM Manipulation for every MQTT
              message received.
            </span>
          </p><br />

          <p>
            <span class="font-extrabold text-purple-400"
              >LeafletJS Web App:
            </span>
            Built a LeafletJS-powered web app able to receive coordinates from a
            hardware device, plus two (2) more iterations as requested. The technologies
            used are HTML, TailwindCSS, JavaScript, and PahoMQTT. (Further details
            are confidential.)
          </p>

          <p>
            <span class="font-extrabold text-purple-400"
              >Basic Expected Results: Reflect coordinates on a LeafletJS map.
            </span>
          </p><br />
        </div>
      </div>
    </div>
  </Panel>
</Layout>
