---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/img/logo/LogoDarkSquare.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/no-scrollbar.css" />
    <title>Luis Santiago</title>
  </head>

  <body class="no-scrollbar1 no-scrollbar2 bg-slate-900 text-slate-200">
    <div class="overflow-hidden">
      <!-- Navbar -->
      <nav
        class="fixed z-10 flex w-screen shadow-xl flex-row p-2 md:p-0 md:py-2 md:pl-2 bg-slate-900 justify-between shadow-slate-900/25"
      >
        <ul class="flex justify-between w-screen">
          <!-- Logo -->
          <li>
            <a href="/"
              ><img
                class="w-10"
                src="/img/logo/LogoLightSquare.svg"
                alt="logo"
              />
            </a>
          </li>

          <!-- Mobile Menu -->
          <li
            class="md:hidden absolute top-2 right-2 self-center p-2 bg-slate-200 rounded-lg text-slate-900"
          >
            <details role="list">
              <summary
                class="appearance-none list-none"
                aria-haspopup="listbox"
                role="button">Menu</summary
              >
              <ul role="listbox">
                <a href="/"
                  ><li class="hover:bg-slate-300 rounded-sm p-2">Home</li></a
                >

                <a href="/about/"
                  ><li class="hover:bg-slate-300 rounded-sm p-2">About</li></a
                >

                <a href="/projects/"
                  ><li class="hover:bg-slate-300 rounded-sm p-2">
                    Projects
                  </li></a
                >

                <a href="/work/">
                  <li class="hover:bg-slate-300 rounded-sm p-2">Work</li></a
                >

                <a href="/interests/"
                  ><li class="hover:bg-slate-300 rounded-sm p-2">
                    Interests
                  </li></a
                >

                <li>
                  <a href="/contact/">
                    <button
                      class="bg-slate-200 rounded-sm p-2 text-slate-800 hover:bg-slate-300"
                      >Contact</button
                    >
                  </a>
                </li>
              </ul>
            </details>
          </li>
        </ul>

        <!-- Nav Links -->
        <ul
          class="flex-col justify-center items-center hidden md:flex md:flex-row self-center gap-4 font-semibold"
        >
          <a href="/"
            ><li class="hover:bg-slate-100/30 rounded-sm p-2">Home</li></a
          >

          <a href="/about/"
            ><li class="hover:bg-slate-100/30 rounded-sm p-2">About</li></a
          >

          <a href="/projects/"
            ><li class="hover:bg-slate-100/30 rounded-sm p-2">Projects</li></a
          >

          <a href="/work/">
            <li class="hover:bg-slate-100/30 rounded-sm p-2">Work</li></a
          >

          <a href="/interests/"
            ><li class="hover:bg-slate-100/30 rounded-sm p-2">Interests</li></a
          >

          <li>
            <a href="/contact/">
              <button
                class="bg-slate-200 rounded-sm p-2 text-slate-800 hover:bg-slate-300"
                >Contact</button
              >
            </a>
          </li><br />
        </ul>
      </nav>

      <!-- Slot/Code Replacement -->
      <slot />

      <!-- Footer -->
      <footer class="bg-slate-200 text-slate-800">
        <br /><br />
        <div class="p-2.5">
          <!-- Brand -->
          <div class="p-2.5 pb-4 mx-auto flex items-center justify-center">
            <!-- Logo -->
            <img
              class="inline-block w-10"
              src="/img/logo/LogoDark.svg"
              alt="logo"
            />

            <!-- Slogan -->
            <span class="relative -bottom-2 -right-2"
              >Creating solutions using web technologies.</span
            >
          </div>

          <!-- Footer Navigation -->
          <div class="flex items-center justify-center mx-auto">
            <!-- Socials -->
            <nav class="flex flex-col justify-center items-center gap-4">
              <!-- Socials Links -->
              <!-- <a class="w-fit" href="#">Facebook</a>
              <a class="w-fit" href="#">Twitter</a>
              <a class="w-fit" href="#">Instagram</a>
              <a class="w-fit" href="#">GitHub</a> -->
              <a class="w-fit" href="https://www.linkedin.com/in/lusanco/"
                >LinkedIn</a
              >
              <a class="w-fit" href="https://codepen.io/lusanco">CodePen</a>
            </nav>
          </div>
        </div>

        <!-- Copyright Notice -->
        <div
          class="flex items-center justify-center mx-4 align-bottom md:mx-auto text-center"
        >
          © 2023, Luis Santiago. All Rights Reserved.
        </div><br /><br /><br />
      </footer>
    </div>
  </body>
</html>
