<!-- Main Container -->
<main
  class="bg-[url('/img/bg/five0.27141048100090415.png')] flex flex-col items-center justify-center bg-cover bg-repeat w-screen bg-center min-h-[28rem]"
>
  <!-- Frosted Glass Blur Effect -->
  <div
    class="flex flex-col items-center justify-center w-screen min-h-[30rem] bg-slate-900 bg-opacity-20 backdrop-blur-lg"
  >
    <!-- Blend to Background Effect -->
    <div
      class="flex flex-col items-center justify-center w-screen bg-gradient-to-b from-transparent via-transparent to-slate-900 min-h-[30rem] text-center mt-10"
    >
      <!-- 1st Panel -->
      <slot />
    </div>
  </div>
</main><br /><br />
